*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.header {
  height: 80px;
  &_leftBar {
      position: absolute;
      left: -100px;
      width: 100%;
      height: 80px;
      background-color: #18202e;
      transform: skew(-41deg);
      z-index: 2;
    }
    &_rightBar {
      position: absolute;
      right: 0;
      width: 100%;
      height: 80px;
      background-color: #25354f;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
      &-icon {
        margin: 5px;
      }
    }
  }

  .navigation {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
  }

  .searchInput {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 5px 15px;
    margin-top: 20px;
    
  }
  
.card {
  max-width: 300px;
  height: 550px;
  margin: 80px 30px 30px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(56, 56, 56);
  &-title {
    width: 250px;
    text-align: center;
  }
  &-img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.info {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fIcon {
  padding-right: 10px;
}

.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.general {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  cursor: pointer;
  &-ingList {
    width: 250px;
    height: 150px;
    // padding: 10px 0;
    margin-top: 10px;
    list-style: none;
    overflow-y: auto;
  }
  &-description{
    width: 250px;
    height: 150px;
    // padding: 10px 0;
    margin-top: 10px;
    overflow-y: auto;
  }


}

.wrapRecipes {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}